<div class="container">
    <h1>Black and White Spa</h1>
    <h2>Imagen URL:</h2>
    <form action="/process" method="POST" class="form-group">
        <input type="text" placeholder="Ingrese URL de la imagen" name="URL">
        <button type="submit">Subir imagen al servidor</button>
    </form>
</div>