body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    /* Espaciado del contenedor */
    padding: 20px;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #ff0000b3;
}